<% if @team.errors.any? %>
  <ul>
    <% @team.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @team do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %>

  <%= f.label :sport %>
  <%= select("team", "sport_id", Sport.all.collect { |s| [s.name, s.id]}) %>
  <br>

  <%= f.label :min_players %>:
  <%= f.number_field :min_players %>

  <%= f.label :ideal_players %>:
  <%= f.number_field :ideal_players %>

  <%= f.label :min_females %>:
  <%= f.number_field :min_females %>

  <%= f.submit %>
<% end %>
