<h2><%= @team.name %></h2>

<b>Sport: <%= @team.sport.name %></b><br><br>

<%= button_to "Add Player", :class => "button5", :method => :get  %>

<h3>Players:</h3>

<% @team.players.each do |player| %>
  <fieldset class="player">
    <legend><b><%= player.name %></b></legend>
    <b>Gender:</b> <%= player.gender %><br>
    <b>Phone:</b>  <%= player.phone_number %><br>
  </fieldset>
<% end %>

