<article class="game-details" >
  <div>
    <%= game.team.name %>
    <%= game.date %><br>
    <%= game.time %><br>
    <%= game.location %><br>
  </div>
  <div>
    X /<%= game.team.ideal_players %>
    <span>Key player</span>
  </div>
</article>
