<article class="game-details", id="game-details-g">
  <div>
    <span id="team_name"><%= game.team.name %></span><br>
    <p><%= game.date.strftime('%m/%d/%Y') %><br>
    <%= game.time.strftime('%I:%M %p') %> PM<br>
    <%= game.location %></p><br>
  </div>
  <div class="player_num", id="player_count<%= game.team.min_players%>">
    <%= game.team.min_players %>/<%= game.team.ideal_players %>
    <br>
  </div>
  <span id="key_player">Key player?</span>
</article>
