<h2>Create New Game</h2>

<% if @game.errors.any? %>
  <ul>
    <% @game.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @game do |f| %>
  <%= f.label :date %>:
  <%= f.date_field :date %>

  <%= f.label :time %>:
  <%= f.time_field :time %>

  <%= f.label :location %>:
  <%= f.text_field :location %>

  <%= f.label :team_id %>:
  <%= f.number_field :team_id %>

  <%= f.submit %>
<% end %>

