<h2>Game details:</h2>

Date: <%= @game.date.strftime('%m/%d/%Y') %><br><br>

Time: <%= @game.time.strftime('%I:%M %p') %><br><br>

Location: <%= @game.location %><br><br>

Min Players: <%= @game.team.min_players %><br><br>

Ideal Players: <%= @game.team.ideal_players %><br><br>

<h2>Player RSVPs</h2>

<%= render partial: "rsvps/rsvp", collection: @game.rsvps.sort_by(&:created_at) %>