<!DOCTYPE html>
<html>
  <head>
    <title>TeamTracker</title>
    <div id="container">
      <%=image_tag("TeamTracker-Banner.png", alt: "Team Tracker Banner", :width => 1200, :height => 150, :crop => :fill, :align=> "middle", :class => "image-container")%>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>

      <%= render partial: "layouts/page_layout" %>

  </head><br><br><br>

  <body class="body-container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
  </div>
</html>
